.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 10px;
}
.dialogsItems{

}
.dialog {
    display: flex;
}
.dialog a{
    text-decoration: none;
}
.dialog .active {
    color: gold;
}
.dialog img {
    width: 20px;
    height: 20px;
}
.messages{
}

.message{
    float: left;
    width: 40%;

}
